{% extends 'base.html'%}
{%block title%}KUSHAL KARKI | ABOUT{%endblock%}

{% block body %}

      <div class="about-me">
        <div class="cv-img">
            <img src="/static/images/kushal__PP.jpg" alt="">
            <h1 class="me">KUSHAL KARKI</h1>
            <h3 class="me">Web Developer</h3>

        <div class="info"> 
          <div class="icons">
            <box-icon id="icon" type='logo' name='linkedin-square' size="md"color="white"></box-icon>
            <box-icon type='logo' name='gmail' size="md" color="white"></box-icon>
            <box-icon name='phone' type='solid' size="md" color="white"></box-icon>
            <box-icon type='solid' name='location-plus' size="md" color="white"></box-icon>
            
          </div>
          <div class="icon-txt">
            <a href="https://www.linkedin.com/in/kushal-karki-47b408218"><h4>linkedin</h4></a>
            <a href="https://www.gmail.com/kkkarki7120@gmail.com"><h4>kkarki7120@gmail.com</h4></a>
            <h4>9843587829</h4>
            <h4>Mulpani, Kathmandu</h4>
          </div>
        </div>   
          
        <div class="skills">
          <h2>Relevant Skills</h2>
       
        
           <h4>Python</h4>
           <h4>Html, CSS</h4>
           <h4>JavaScript</h4>
           <h4>Django</h4>
           <h4>Leadership and communication</h4>

          </div>
          
          </div>
        
          <div class="description">
            <div class="work">
              <h2>Work Experience</h2>
            </div>
              <div class="work-exp">
              <h4><span class="dot"></span>   Full Stack development using html,css,js,python and django</h4>
              <h4><span class="dot"></span>   OOP projects using python</h4>
            </div>
            <div class="work">
              <h2>Education History</h2>
              </div>
              <div class="work-exp">
              <h4>Bachelors Hons IT</h4>
              <h5>Herald college Kathmandu Affiliated with University of wolverhampton</h5>
              <h6>year of graduation: 2023</h6>
            </div>

            <div class="work">
              <h2>Certifications</h2>
            </div>
              <div class="work-exp">
              <h4>Web designing course </h4>
              <h5>Institution: Broadway Infosys</h4>
              <h6>year: 2016</h6>
            </div>
          </div>
          
        </div>
       

        <a href="" download>Download PDF</a>

        
        
        
{%endblock%}