{% extends 'base.html'%}
{%block title%}KUSHAL KARKI | CONTACT ME{%endblock%}
{% block body %}
     {% if success_message %}
      <div class="model">
        <box-icon name='check-square' color="white" size="md"></box-icon>
       {{success_message}}
      </div>
      {% endif %}
      <div class="contact">
        <div class="contact-head">
            <img src="/static/images/profile.png" width="200px" height="200px">
           
            <box-icon type='solid' onclick="home()" name='left-arrow-circle' size="md" color="#5E17EB" pull="right" id="back"></box-icon>
        </div>
        <div class="contact-cont">
            <h1>Thanks for taking the time to reach out. How can I help you today?</h1>
            <form action="{% url 'contact' %}" method="POST">
                {%csrf_token%}
               <div class="boxs"> 
                <div class="box">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required>
                </div>
                <div class="box">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required>
                </div>
            </div>
                <div class="box-msg">
                    <label for="message">Message:</label><br>
                    <textarea  id="message" name="message" required></textarea>
                </div>
                <button type="submit">submit</button>
              </form>
        </div>
        
      </div>

{%endblock%}
